<div class="comment">

    <h2 class="comment__title">Leave comment:</h2>

    <div class="comment__row">
        <div class="comm-avatar">
            <div class="comm-avatar__user">
                <img src="img/user.jpg" alt="User name" >
            </div>
        </div>
        <div class="comm-data">
            <form action="" class="comment-form">
                <textarea class="form-field" placeholder="Your message"></textarea>
                <input class="form-send" type="submit" value="Send">
            </form>
        </div>
    </div>

</div>

<div class="load-more">
    <div class="load-more__frame"><div class="more-btn">Load more comments</div></div>
</div>

<!--position of controls-->
<div class="controls controls_own-comment">
    <span class="controls__item controls__item_edit">Edit</span>
    <span class="controls__item controls__item_delete">Delete</span>
    <span class="controls__item controls__item_reply">Reply</span>
</div>



