<div class="tabs">
    <ul>
        <li><a href="#tabs-1">Пост 1</a></li>
        <li><a href="#tabs-2">Пост 2</a></li>
        <li><a href="#tabs-3">Пост 3</a></li>
        <li class="tabs__active"><a href="#tabs-4">Пост 4</a></li>
    </ul>
    <div id="tabs-1" class="tab tab-1">
        <a target="_blank" href="https://www.facebook.com/VisaKazakhstan/posts/671751506302738" class="take-part">Принять участие</a>
        <a target="_blank" href="https://www.facebook.com/VisaKazakhstan/posts/671751506302738" class="tab__img">
            <div class="text">
                <p align="center">Это мой</p>
                <p align="center">спа-курорт.</p>
                <p align="center">А твой?</p>
                <span class="space">#NotATourist</span>
            </div>
        </a>
        <div class="competition">
            <p>Конкурс от Visa!</p>
            <p>Любите путешествовать?!<br/>Поделитесь своими впечатлениями с нами – и выиграйте современный смартфон!</p>
            <p>
                Разместите в комментариях фотографию и короткое описание особенного места из своего путешествия. И, возможно, именно ваше впечатление мы наградим желанным призом!
                <a target="_blank" href="https://www.facebook.com/VisaKazakhstan/posts/671751506302738" >...See more</a></p>
            <a href="http://visa.com.kz/kz/ru-kz/travel/summer-travel-kz-ru.pdf" target="_blank">Правила акции</a>
        </div>
    </div>
    <div id="tabs-2" class="tab tab-2">
        <a target="_blank" href="https://www.facebook.com/VisaKazakhstan/posts/678164055661483" class="take-part">Принять участие</a>
        <a target="_blank" href="https://www.facebook.com/VisaKazakhstan/posts/678164055661483" class="tab__img">
            <div class="text">
                <p align="center">Это мой</p>
                <p align="center">идеальный шоппинг.</p>
                <p align="center">А твой?</p>
                <span class="space">#NotATourist</span>
            </div>
        </a>
        <div class="competition">
            <p>Любите покупать вещи на память во время путешествий? С трепетом вспоминаете маленькие колоритные базары или современные торговые центры? Участвуйте в конкурсе от Visa – и выигрывайте популярный смартфон!</p>
            <p>
                Разместите в комментариях фотографию (с небольшим описанием) места своего шопинга за границей, которое запомнилось. Уже к 31 июля мы определим победителя – автора самой оригинальной истории и снимка!
                <a target="_blank" href="https://www.facebook.com/VisaKazakhstan/posts/678164055661483" >...See more</a>
            </p>
            <a href="http://visa.com.kz/kz/ru-kz/travel/summer-travel-kz-ru.pdf" target="_blank">Правила акции</a>
        </div>
    </div>
    <div id="tabs-3" class="tab tab-3">
        <a target="_blank" href="https://www.facebook.com/VisaKazakhstan/photos/a.222053604605866.1073741825.214930025318224/685207881623767/" class="take-part">Принять участие</a>
        <a target="_blank" href="https://www.facebook.com/VisaKazakhstan/photos/a.222053604605866.1073741825.214930025318224/685207881623767/" class="tab__img">
            <div class="text">
                <p align="center">Это моя</p>
                <p align="center">высокая кухня.</p>
                <p align="center">А твоя?</p>
                <span class="space">#NotATourist</span>
            </div>
        </a>
        <div class="competition">
            <p>Конкурс от Visa!</p>
            <p>Кокосовый суп, сушеные кузнечики или фирменный хот-дог дядюшки Хосе. Порой самое удивительное, что мы привозим из путешествий – это вкусовые впечатления. Наверняка, у вас сохранились воспоминания о блюде, которое вас поразило, восхитило или заставило выпить пару литров воды.</p>
            <p>
                Поделитесь вашим фото еды из путешествия и выиграйте современный смартфон от Visa! C предвкушением ждем ваши «блюда» и истории в комментариях к этому посту.
                <a target="_blank" href="https://www.facebook.com/VisaKazakhstan/photos/a.222053604605866.1073741825.214930025318224/685207881623767/" >...See more</a>
            </p>
            <a href="http://visa.com.kz/kz/ru-kz/travel/summer-travel-kz-ru.pdf" target="_blank">Правила акции</a>
        </div>
    </div>
    <div id="tabs-4" class="tab tab-4">
        <a target="_blank" href="https://www.facebook.com/VisaKazakhstan/photos/a.222053604605866.1073741825.214930025318224/689726287838593/" class="take-part">Принять участие</a>
        <a target="_blank" href="https://www.facebook.com/VisaKazakhstan/photos/a.222053604605866.1073741825.214930025318224/689726287838593/" class="tab__img">
            <div class="text">
                <p align="center">Это мое</p>
                <p align="center">высокое искусство.</p>
                <p align="center">А твое?</p>
                <span class="space">#NotATourist</span>
            </div>
        </a>
        <div class="competition">
            <p>Конкурс от Visa!</p>
            <p>Льюис Кэрролл говорил, что «ни одно богатое приключениями путешествие не останется забытым». И он был прав. Ведь если вы прямо сейчас поведаете нам историю своей поездки и покажете фотографию, то получите возможность выиграть такую полезную для путешественника вещь – современный смартфон! </p>
            <p>
                Будь это неизвестное место или популярный туристический маршрут – путешествуйте легко с Visa! Платите картой Visa в десятках миллионов торговых точек по всему миру или просто снимайте местную валюту в банкомате.
                <a target="_blank" href="https://www.facebook.com/VisaKazakhstan/photos/a.222053604605866.1073741825.214930025318224/689726287838593/" >...See more</a>
            </p>
            <a href="http://visa.com.kz/kz/ru-kz/travel/summer-travel-kz-ru.pdf" target="_blank">Правила акции</a>
        </div>
    </div>
</div>