.footer {
  padding: 30px 110px 50px 70px;
  font: 400 17px/20px $MyriadProRegular;
  color: #1a4594;
  @include clearfix;
  &__apps {
    float: right;
    line-height: 24px;
    img {
      margin: 0 10px 0 0;
    }
  }
  &__logo {
    width: 310px;
    float: left;
    a {
      color: $blue;
    }
    img {
      float: left;
      margin: 0 10px 0 0;
    }
  }
}