.header {
  padding: 50px 30px;
  position: relative;
  &:before {
    content: '';
    height: 15px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(45deg,#f5aa00,#f4a100);
  }
  &__txt {
    padding: 25px 40px 0;
    font: 20px/23px $MyriadProLight;
    color: #6d6e71;
    p {
      margin: 0;
    }
  }
  h1 {
    font: 46px $MyriadProLight;
    color: $blue;
    margin: 0;
  }
  a {
    @include underline;
    font-weight: 700;
    color: $blue;
  }
}