.tabs {
  visibility: hidden;
  position: relative;
  &.ui-tabs {
    visibility: visible;
  }
}
.ui-tabs-nav {
  height: 40px;
  position: relative;
  list-style: none;
  padding: 0 70px 13px;
  margin: 0;
  font-size: 0;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height:13px;
    width: 100%;
    background: linear-gradient(45deg,#222a69,#194594);
  }
  .ui-state-default {
    display: inline-block;
    vertical-align: top;
    margin: 0 4px 0 0;
    a {
      display: block;
      height: 27px;
      background: linear-gradient(45deg,#9390ab,#8aa0c9);
      color: $white;
      border-radius: 8px 8px 0 0;
      text-transform: uppercase;
      font: 12px/33px $MyriadProRegular;
      padding: 0 25px;
      outline: none;
    }
    &.ui-tabs-active {
      a {
        background: linear-gradient(45deg,#272158,#164193);
      }
    }
  }
}
.tab {
  width: 100%;
  position: relative;
  &__img {
    height: 375px;
    display: block;
    overflow: hidden;
  }
  .text {
    transform: rotate(-5deg);
    text-align: right;
    color: $white;
    p {
      margin: 0 0 10px;
      font: 700 48px/45px $KobzarKS;
      &.space {
        padding-right: 50px;
      }
    }
    span {
      font: 23px/0 $dearJoe6;
      &.space {
        padding-right: 50px;
      }
    }
  }
  &.tab-1 {
    background: url(../img/slide-1.jpg) no-repeat;
    .tab__img {
      padding: 60px 125px 0 310px;
    }
  }
  &.tab-2 {
    background: url(../img/slide-2.jpg) no-repeat;
    .tab__img {
      padding: 60px 120px 0 250px;
    }
  }
  &.tab-3 {
    background: url(../img/slide-3.jpg) no-repeat;
    .tab__img {
      padding: 60px 120px 0 250px;
    }
  }
  &.tab-4 {
    background: url(../img/slide-4.jpg) no-repeat;
    .tab__img {
      padding: 60px 120px 0 250px;
    }
  }
  &.tab-5 {
    background: url(../img/slide-5.jpg) no-repeat;
    .tab__img {
      padding: 60px 120px 0 250px;
    }
  }
  .take-part {
    display: block;
    position: absolute;
    top: 50px;
    left: 70px;
    color: $white;
    background: #f5a700;
    padding: 0 15px;
    height: 27px;
    font: 700 12px/27px $MyriadProRegular;
    border-radius: 5px;
  }
}
.competition {
  background: $blue;
  color: $white;
  padding: 35px 70px;
  font: 20px/22px $MyriadProLight;
  p {
    margin: 0 0 20px;
    a {
      text-decoration: none;
    }
  }
  a {
    color: $white;
    font-family: $MyriadProRegular;
    @include underline;
  }
}